<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4 w3-margin-top">
        <div class="w3-display-container">
          <img src="images/ProfilePicture.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black" style="background-color: white; width: 100%;">
            <h2>B M Shams Nahid</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Node.js Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Uttara, Dhaka, Bangladesh</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>b.m.shamsnahid@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+88 01744253089</p>
          <p><i class="fa fa-arrow-circle-down fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="files/B_M_Shams_Nahid.pdf" target='_blank'>Download CV</a></p>
        </div>
      </div><br>

    <div class="w3-white w3-text-grey w3-card-4">
		  <h2 class="w3-text-grey w3-padding-16">&nbsp;&nbsp;<i class="fa fa-user-circle fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Profile</h2>
        <div class="w3-container">
          <p><i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://github.com/bmshamsnahid" target="_blank">Github</a></p>
          <p><i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://www.linkedin.com/in/b-m-shams-nahid-275742a4/" target="_blank">LinkedIn</a></p>
          <p><i class="fa fa-medium fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://medium.com/@bmshamsnahid" target="_blank">Medium</a></p>
          <p><i class="fa fa-stack-overflow fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://stackoverflow.com/users/5361646/shams-nahid" target="_blank">Stackoverflow</a></p>
        </div>  
    </div><br>

    <div class="w3-white w3-text-grey w3-card-4">
		  <h2 class="w3-text-grey w3-padding-16">&nbsp;&nbsp;<i class="fa fa-info fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Blogs</h2>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/nodejs-file-upload-using-multer-3a904516f6d2" target='_blank'>NodeJS File Upload Using Multer</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/build-your-first-npm-module-in-5-minutes-74112301e728" target='_blank'>Build and Publish your first NPM package in less than 5 minutes!!!</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/install-secure-backup-restore-and-connect-mongodb-database-with-separate-user-role-in-ubuntu-3c1b15e813db" target='_blank'>Install, Secure, Backup, Restore and Connect MongoDB database with separate user Role in Ubuntu 16.04 Server</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/automated-testing-with-selenium-webdriver-and-node-js-f99f64720352" target='_blank'>Automated testing with Selenium WebDriver and Node.js</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/node-js-authentication-using-passport-js-78386be1f518" target='_blank'>Node.js Authentication using Passport.js</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/remote-authentication-using-json-web-token-46db90ea1533" target='_blank'>Remote Authentication Using JSON WEB TOKEN</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/ne-plus-series-01-node-express-boilerplate-e3488ce4e706" target='_blank'>Node + Express Boilerplate</a></b></h5>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class="w3-panel w3-bflack" style="font-weight: bold; font-style:italic; font-size: 22px;" ><b><a href="https://medium.com/@bmshamsnahid/ne-plus-series-02-node-express-rest-full-api-e553e3467116" target='_blank'>Node + Express REST-Full API</a></b></h5>
        <hr>
      </div>  


    </div><br>

	  <div class="w3-white w3-text-grey w3-card-4">
		  <h2 class="w3-text-grey w3-padding-16">&nbsp;&nbsp;<i class="fa fa-university fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
      <div class="w3-container">
        <h5 class=""><b>B.Sc. Engineering in CSE (2013-2018)</b></h5>
        <p>University Of Rajshahi, Bangladesh</p><br>
      </div>  
    </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
	  <div class='w3-container w3-card w3-white w3-margin-bottom w3-margin-top'>
		  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</h2>
		  <p>
			  <span class="w3-tag w3-teal w3-round"><strong style='font-weight: bold; font-size: 18px; !important'>Node.js</strong></span>
			  <br>
			  <br>
			  <span class="w3-tag w3-teal w3-round"><strong style='font-weight: bold; font-size: 18px; !important'>Express.js</strong></span>
			  <br>
			  <br>
			  <span class="w3-tag w3-teal w3-round"><strong style='font-weight: bold; font-size: 18px; !important'>MongoDB.js</strong></span>
			  <br>
			  <br>
			  <span class="w3-tag w3-teal w3-round"><strong style='font-weight: bold; font-size: 18px; !important'>REST API</strong></span>
			  <br>
			  <br>
			  <span class="w3-tag w3-teal w3-round"><strong style='font-weight: bold; font-size: 18px; !important'>Graph API</strong></span>
		  	  <br>
			  <p>
				  <span class="w3-tag w3-teal">Unit Testing</span>
				  <span class="w3-tag w3-teal">Integration Testing</span>
				  <span class="w3-tag w3-teal">Angular(2+)</span>
				  <span class="w3-tag w3-teal">Vue.js</span>
				  <span class="w3-tag w3-teal">Selenium Web Driver</span>
				  <span class="w3-tag w3-teal">Git</span>
				  <span class="w3-tag w3-teal">Socket.io</span>
				  <span class="w3-tag w3-teal">Sail.js</span>
			  </p>
		  </p>
	  </div>

	  <div class='w3-container w3-card w3-white w3-margin-bottom'>
		  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-text-teal"></i>Certification</h2>
	  		<div class="w3-container">
				<h5 class="w3-opacity">
					<b  style='font-weight: bold;'>JavaScript Algorithms and Data Structures</b> 
					By <a href="https://www.freecodecamp.org/certification/bmshamsnahid/javascript-algorithms-and-data-structures">
					freeCodeCamp
				</a></h5>
				<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2018</h6>
				<hr>
			</div> 

      <div class="w3-container">
				<h5 class="w3-opacity">
					<b  style='font-weight: bold;'>APIs and Microservices</b> 
					By <a href="https://www.freecodecamp.org/certification/bmshamsnahid/apis-and-microservices">
					freeCodeCamp
				</a></h5>
				<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2018</h6>
				<hr>
			</div> 
	  </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Softograph Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
          <p>As a backend developer, I built a CMS panel for Metlife. Also developed a chat bot for Breast Cancer awareness.<br> Now I am working with a dynamic chat bot pltform, so a consumenr can develop a bot for messenger platform without any coding.</p>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-th-large fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Life Navigator</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - Aug 2018</h6>
          <p>Life Navigator aims to help people better understand the different kinds of risks they face in life. Take few minutes to get the client information and generate a personalized risk assessment that tells what might they want to look out for.</p>
          <p>Have an admin panel to customize every bits of the client.</p>
          <p>Using a risk model, determine user risks on various criteria and provide an eligible insurance policy.</p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Pinky</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2018 - Oct 2018</h6>
          <p>Pinky is a breast cancer prevention and detection chat bot. It helps to identify the symptoms and recommends remedies and possible treatment options.</p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>PhotoPher</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2017 - Mar 2018</h6>
          <p>Cross Platform application for photographer, to store and display photos and be hired.</p>
          <p>Made compitable for bot Web, Android and IOS platform.</p>
          <p style='font-weight: bold;'>
            <a href="https://www.youtube.com/watch?v=lY7HnNtKur8" target="_blank">Live</a>
            &nbsp;&nbsp;
            <a href="https://documenter.getpostman.com/view/1729081/photopher-api-documentation/RW1boKmd#0c0ef430-a821-4117-838f-f06d26b3bb18" target="_blank">API Documentation</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/Photopher-api" target="_blank">PhotoPher API</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/Photopher-api" target="_blank">Web Platform</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/PhotoPher-Administration" target="_blank">Admin Panel</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/PhotoPher-Mobile" target="_blank">Mobile Application</a>
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cloud Contacts Management</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2017 - Oct 2017</h6>
          <p>Managing contact book in cloud. Very much similar like google contacts. Built with Node.js REST API and Angular 4 in front-end(MEAN stack application). Have a feature to export a user's contacts as CSV format.</p>
          <p style='font-weight: bold;'>
            <a href="https://www.youtube.com/watch?v=CCPgf-K6WTU&t=320s" target="_blank">Live</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/Address-Book" target="_blank">Source Code</a>
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Open Chat</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2016 - Dec 2016</h6>
          <p>Real time chat functionality. Providing status for online and offline users. User websocket protocal by socket.io</p>
          <p style='font-weight: bold;'>
            <a href="https://warm-brook-84996.herokuapp.com/" target="_blank">Live</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/ChatServer" target="_blank">Source Code</a>
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Picnic Polling Application</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2017 - Nov 2017</h6>
          <p>Annual picnic spot selection application. Students can only give one vote for a poll. Admin can select create, update and delete the place. Students can also observe the poll using graph view.</p>
          <p style='font-weight: bold;'>
            <a href="https://www.youtube.com/watch?v=FVgMXpUqFVc" target="_blank">Live</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/Picnic-Polling-Applciation" target="_blank">Source Code</a>
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Event Registration System</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2017 - Dec 2017</h6>
          <p>User can register for events. Admin panel will approve or deny the applicant. There will be a email confirmation for both appoval or deny.</p>
          <p style='font-weight: bold;'>
            <a href="https://nean-event-registration.herokuapp.com/home" target="_blank">Live</a>
            &nbsp;&nbsp;
            <a href="https://github.com/bmshamsnahid/Event-Registration" target="_blank">Source Code</a>
          </p>
          <hr>
        </div>

      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p></p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
